<!-- Overlay-Spinner -->
<div *ngIf="isLoading" class="upload-overlay">
  <mat-progress-spinner diameter="50" mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>

  <div class="photo-upload-wrapper">
    <!--<div class="upload-header">
      <h3 class="upload-title">Fotos hinzufügen</h3>
      <span class="upload-counter">{{ selectedFiles.length }}/3</span>-->
    </div>


  <!-- Versteckter Datei-Input -->
  <input
    #galleryInput
    type="file"
    accept=".jpg,.png"
    (change)="onFilesSelected($event)"
    multiple
    class="hidden-input"
  />

  <!-- Sichtbarer Button -->
    <div class="upload-buttons">
  <button
    type="button"
    mat-raised-button
    class="upload-btn"
    (click)="galleryInput.click()"
    aria-label="Bild aus Galerie oder Datei wählen"
    [disabled]="validFiles.length >=3 || isLoading">
    <mat-icon class="btn-icon">photo_library</mat-icon>
    Galerie
  </button>
    </div>

  <!-- Vorschau der gewählten Bilder -->
  <div *ngIf="selectedFiles.length > 0" class="upload-preview-grid">
   <!-- <p class="camera-filename" aria-live="polite">
      Gewählt:
      <strong *ngFor="let file of selectedFiles; let i = index">
        {{ file.name }}<span *ngIf="i < selectedFiles.length - 1">,&nbsp;</span>
      </strong>
    </p>
    -->

    <p class="camera-hint">
      {{ selectedFiles.length }} / 3 Fotos hinzugefügt
    </p>


    <div>
      <div *ngFor="let url of previewUrls; let i = index" class="gallery-wrapper">
        <img [src]="url" [alt]="'Vorschau des gewählten Fotos ' + (i + 1)" class="gallery-img" />
        <button type="button" class="gallery-delete-btn" (click)="removePhoto(i)" aria-label="Gewähltes Foto löschen">
          ✕
        </button>
      </div>
    </div>
  </div>
