<div class="formular-container">
  <div class="formular-title">
    <h2>Neue Meldung</h2>
  </div>

    @if (!selectedCategory && description.trim() === '') {
  <div class="radmelder-hinweis">
    <mat-icon class="hinweis-icon">info_outline</mat-icon>
    <span>Bitte wählen Sie eine Kategorie oder geben Sie eine Beschreibung ein.</span>
  </div>
    }

  <mat-form-field appearance="outline" class="radmelder-select">
  <mat-label>Mängelkategorie</mat-label>
    <mat-select [(ngModel)]="selectedCategory" name="category"
                style="border-bottom: none;">
      @for (cat of categories; track cat) {
        <mat-option [value]="cat">{{ cat }}</mat-option>
      }
    </mat-select>
    </mat-form-field>

     <mat-form-field appearance="outline" class="radmelder-textarea">
     <mat-label>Beschreibung</mat-label>
       <textarea
         matInput
         [(ngModel)]="description"
         maxlength="1000"
         placeholder="Beschreiben Sie den Mangel kurz"
         name="descriptionForm"
         rows="4"
       ></textarea>

     <mat-hint align="end">{{ description.length || 0 }}/1000</mat-hint>
   </mat-form-field>



  <!-- Template-Referenzvariable: Ermöglicht Kommunikation mit der PhotoUpload-Komponente -->
  <div class="media-field">
    <span class="media-title">Fotos hinzufügen (optional)</span>
    <div class="media-inner">
      <app-photo-upload #photoUpload (photosSelected)="onPhotosSelected($event)"></app-photo-upload>
   <app-camera (photosTaken)="onPhotoFromCamera($event)"></app-camera>
   </div>
  </div>



   <button
     id="submit-btn"
     type="button"
     mat-raised-button
     color="primary"
     class="submit-button"
     [disabled]="!selectedCategory && description.trim() === ''"
     (click)="submitReport(photoUpload)"
   >
     Meldung senden
   </button>

   @if (isLoading()) {
     <div style="margin-top: 1rem;  display: flex; justify-content: center;" >
       <mat-spinner diameter="30" color="primary"></mat-spinner>
     </div>
   }

</div>



