/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 3rem;
  text-align: center;
  font-family: system-ui, sans-serif;
  background-color: #f9f9f9;
}

form,
mat-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 400px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

@media (max-width: 600px) {
  main {
    padding-top: 2rem;
  }

  form {
    max-width: 320px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  form {
    max-width: 500px;
  }
}
.formular-container {
  max-width: 448px;
  width: 100%;
  margin: 0 auto;
  padding: 28px 20px;
  background: linear-gradient(to bottom, #f9fafb, white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

h1,
button,
mat-spinner {
  align-self: center;
}

.karte {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.karte-body {
  width: 100%;
  min-height: 560px;
  box-sizing: border-box;
}

.mat-mdc-select-panel,
.mdc-menu-surface,
.mat-mdc-dialog-surface,
.mat-mdc-snack-bar-container {
  background-color: #ffffff !important;
}
