spring:
    datasource:
        url: jdbc:h2:mem:e2e-db;DB_CLOSE_DELAY=-1;CASE_INSENSITIVE_IDENTIFIERS=TRUE
        driver-class-name: org.h2.Driver
        username: sa
        password:
        initialization-mode: always
    jpa:
        hibernate:
          ddl-auto: create-drop
          show-sql: true
        defer-datasource-initialization: true
    sql:
        init:
        mode: always
        continue-on-error: false
    h2:
        console:
            enabled: true
            path: /h2-console